.table {
  border: 2px solid silver;
  width: 800px;
  margin: auto;
  line-height: 1.7em;
  border-collapse: collapse;
}
.tableRow {
  display: flex;
}
.tableCell {
  flex: 1;
  border: 1px solid silver;
  padding: 0.5em;
}
.link {
  overflow-wrap: anywhere;
}
